extends layout
doctype HTML
html
  head
    link(rel='stylesheet', href='../public/stylesheets/style.css')
    meta(name="viewport" content='width=device-width, initial-scale=1')
  head
  block content
    h1 Calculator time
    button 1
    button 2
    button 3

    button /
    br
    button 4
    button 5
    button 6

    button X
    br
    button 7
    button 8
    button 9

    button +
    br
    button  
    button 0
    button %
    button -