:root {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}    
table {
  max-width:1400px;
width: auto;
}
table, th, td, wp {
  border: 1px solid black;
}
tr{
    text-align: center;
    height: 100px
}
th{
    color: grey;
    background-color: darkgray
}
caption{
    font-size: 45px;
    
}
wp{
background-color: blue;
}
