.grid-container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  max-width:1400px
}
.grid-item {

  padding: 20px;
  font-size: 20px;
  text-align: center;
}
body{
    background: rgba(0,169,169);
}
h1{
    text-align: center;
}